<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css' />
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" />

  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
  <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>

  <!-- Load jQuery and the validate plugin -->
  <script src="//code.jquery.com/jquery-1.9.1.js"></script>
  <script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"></script>
  <script src="/javascript/login.js"></script>
<title>Questionnaire</title>
<link rel="stylesheet" href="/stylesheets/login.css" type="text/css">

</head>
<body>
  <div class="header">
       <center><a href="/"><img src="/images/logo.jpg" style="height:150px;width:150px;"></a></center>
  </div>
</br>

<center><iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfJl7kSYq0sYlxkPSlBD4sqJ4TQ2oYyp5aWhVvGEFCkCNi-Sg/viewform" height="700px"" height="700px" frameborder="0" marginheight="0" marginwidth="0"></iframe></center>

  <br/><br/><center><iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeK-vPumodxdHQmLMuIuNFITX_4xTLF_GzlszCFmvkihQXDRQ/viewform?embedded=true" height="700px" frameborder="0" marginheight="0" marginwidth="0"></iframe></center>

<br/><br/>
<center><iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdNRF8zaKzRJKb0kXtouAbm7KjuBn_HhXErCsl2fLR_w9auDQ/viewform?embedded=true" height="700px" frameborder="0" marginheight="0" marginwidth="0"></iframe></center>

</body>
</html>
