<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <link rel='stylesheet' href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css' />
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" />

  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
  <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>

  <!-- Load jQuery and the validate plugin -->
  <script src="//code.jquery.com/jquery-1.9.1.js"></script>
  <script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"></script>
  <script src="/javascript/login.js"></script>
<title>Reste Password</title>

<script>
    function validatePassword() {
        var validator = $("#submitPassword").validate({
            rules: {
                password: "required",
                conf_password: {
                    equalTo: "#password"
                }
            },
            messages: {
                password: " Enter Password",
                conf_password: " Enter 'Confirm Password' Same as 'New Password'"
            }
        });
    }

    </script>

</head>
<body>
  <div class="header">
       <center><a href="/"><img src="/images/logo.jpg" style="height:150px;width:150px;"></a></center>
  </div>

  <nav class="navbar navbar-default navbar-static-top" style="margin:0px">
    <div class="container-fluid">
             <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#example-navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
      </div>

       <div class="collapse navbar-collapse navbar-right" id="example-navbar">
        <ul class="nav navbar-nav">
                    <li><a href="/"> <span class="glyphicon glyphicon-home"> </span>  TeamIMFIT </a></li>
          <li><a href="/"> <span class="glyphicon glyphicon-star"> </span>  About Us </a></li>
                    <li><a href="/subscription"> <span class="glyphicon glyphicon-list"> </span>  Subscription </a></li>
                      <li><a href="/logout"> <span class="glyphicon glyphicon-log-out"> </span> Logout </a></li>
  </nav>

  <div class="container">

      <form id="submitPassword" method="POST" action="submitPassword" role="form">
        <div class="form-group">
            <label for="password">New Password</label>
            <input type="password" class="form-control" id="password" name="password" required="true" style="width:250px" title="Please enter your password">
            <span class="help-block"></span>
        </div>
        <div class="form-group">
            <label for="password" class="control-label">Confirm Password</label>
            <input type="password" class="form-control" id="conf_password" name="conf_password" required="true" style="width:250px" title="Re-enter your password">
            <span class="help-block"></span>
        </div>
        <br/>
         <button type="submit" class="btn btn-success btn-block" style="width:150px"  onClick="validatePassword();">Reset</button>

      </form>
    </div>
  </div>
<br/><br/>

</div>
</body>
</html>
