<!DOCTYPE html>
<html>
<head>

    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/selectworkout.css" type="text/css">

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

  <style type="text/css">
  #bootstrapSelectForm .selectContainer .form-control-feedback {
      /* Adjust feedback icon position */
      right: -15px;
  }
  </style>

  <style>
  div.r_timer{
    width: 200px;
  }

  .highlight{
   background-color : #FF0000 !important;
   background-image :none !important;
   font-weight:bold !important;

  }
  .highlight_resp{
   background-color : #337DFF !important;
   background-image :none !important;
   font-weight:bold !important;

  }

  input.timer_value{
    width: 65px;
    padding-left: 15px;
    color: #ff0000;
  }

  </style>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title> Enter Client Workout Routine</title>

  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">

    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>

<body>
      <div class="header">
           <center><a href="/"><img src="/images/logo.jpg" style="height:150px;width:150px;"></a></center>
      </div>

      <nav class="navbar navbar-default navbar-static-top" style="margin:0px" id="navbar">
        <div class="container-fluid">
                 <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#example-navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                </div>
          </div>

           <div class="collapse navbar-collapse navbar-right" id="example-navbar">
            <ul class="nav navbar-nav">
                        <li><a href="/"> <span class="glyphicon glyphicon-home"> </span>  TeamIMFIT </a></li>
              <li><a href="/"> <span class="glyphicon glyphicon-star"> </span>  About Us </a></li>
                        <li><a href="/subscription"> <span class="glyphicon glyphicon-list"> </span>  Subscription </a></li>
                          <li><a href="/logout"> <span class="glyphicon glyphicon-log-out"> </span> Logout </a></li>
    </div>
   </nav>
   </br></br>


   <br/><button type="button" class="btn btn-danger" aria-label="Left Align" id="getWorkout">
     <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> Get Workout
   </button>

 <div class="workouts" id="workouts">
 </div>

 <p><br/><br/><br/>Click Below for Workout Dates:
 <br/> <input type="text" id="datepicker"></p>

 </div>
 <br/>

 <script>

 var date;
 var d = [];
 var resp = [];

 function main_function(){
 function convert_date(today){
   $("#navbar").hide();
 var dd = today.getDate();
 var mm = today.getMonth()+1; //January is 0!
 var yyyy = today.getFullYear();
 var ret_date;

   ret_date = mm+'-'+dd+'-'+yyyy;

   return ret_date;
 }

   $( "#datepicker" ).datepicker({
     dateFormat: 'mm-dd-yy',
     beforeShowDay: function(date){
         if ($.inArray(convert_date(date),resp) > -1) {
           return [true,"highlight_resp",""];
         }
         else if($.inArray( convert_date(date), d )>-1)
         {

             return [true,"highlight",""];
         }
         else {
           return[true,"",""];
         }
       },
       onSelect: function(dateText, inst) {
           var date_real = $(this).datepicker('getDate'),
               day  = date_real.getDate(),
               month = date_real.getMonth() + 1,
               year =  date_real.getFullYear();
           date = month + '-' + day + '-' + year;
           $("#navbar").show();
         }
     });
}


  function getWorkoutDates(){
    $.ajax({
      type: "GET",
      url: '/getClientWorkoutDates',
      success: function (response){
        for(var i = 0; i <response.length;i++){
          d[i] = response[i].date;
        }
        console.log("d: ",JSON.stringify(d));
        getResponseDates();

      },
      error: function(response){
        alert("Failure To Load");
      }
    })
  }

  function getResponseDates(){
    $.ajax({
      type: "GET",
      url: '/getResponseDates',
      success: function (response){
        for(var i = 0; i <response.length;i++){
          resp[i] = response[i].date;
        }
        console.log("resp: ",JSON.stringify(resp));
      },
      error: function(response){
        alert("Failure To Load");
      }
    })
  }


 $(document).ready(function(){

   main_function();
   getWorkoutDates();
   var total_workout =0;
   var setLen = 0;
   var rest_global = 0;
   var myObject = {};
   var primary, secondary, tertiary = '';
 $("#getWorkout").click(function(){
   $("#workouts").empty();

   $.ajax({
        url: '/workoutDetails',
        type: 'POST',
        data: { date: date} ,
        success: function (response) {
          console.log(response);
          $("#workouts").append('<div class="list-group"><br/>'+
          '<a class="list-group-item muscle"> <b>Primary Muscle: '+ response['primary'] +'</b></a><br/>'+
          '<a class="list-group-item muscle"> <b>Secondary Muscle: '+ response['secondary'] +'</b></a><br/>'+
          '<a class="list-group-item muscle"> <b>Tertiary Muscle: '+ response['tertiary']  +'</b></a><br/>'+
          '<a class="list-group-item muscle"> <b>Quaternary Muscle: '+ response['quaternary']  +'</b></a><br/>'+
          '<div class="r_timer" id="r_timer"><input class="timer_value" type="number" id="timer_value" disabled></div></div>'
        );
        myObject['primary'] = response['primary'];
        myObject['secondary'] = response['secondary'];
        myObject['tertiary'] = response['tertiary'];
        myObject['quaternary'] = response['quaternary'];

        total_workout = response.total_workout;
        var l = 0;
          for(var i=1;i<=response.total_workout;i++){
            setLen = 'setLen'+i;
            var workout = 'workout'+i;
            var notes='notes'+i;
            var link = 'link'+i;
            var wk_type = 'wk_type'+i;

            var target_muscle = 'target_muscle'+i;
            var equipment = 'equipment'+i;


            myObject[target_muscle] = response[target_muscle];
            myObject[equipment] = response[equipment];
            myObject[wk_type] = response[wk_type];

            console.log(response[setLen]);

          $("#workouts").append('<a class="list-group-item custom" ><span class="glyphicon glyphicon-minus"   name="collapse" id="collapse'+i+'"  data-selector="'+i+'"></span><span class="glyphicon glyphicon-plus"   name="expand" id="expand'+i+'" data-selector="'+i+'"></span>&nbsp;&nbsp;'+
        '<b>'+ response[workout]  +
        '</b></a>'+
        '<div class="list-group" id="workout'+i+'">');


          if(response.hasOwnProperty(link)){
            if(response[link]!== ''){
            myObject[link]=response[link];
            $("#workout"+i).append('<a class="list-group-item"><iframe width="255" height="315" src='+response[link]+' frameborder="0" allowfullscreen></iframe></a>');
            }
          }
        $("#expand"+i).hide();

        $("#workout"+i).append('<a class="list-group-item"> <b>Workout Notes: </b>'+ response[notes]  +'</a>'+
        '<a class="list-group-item"> <b>Target Muscle: </b>'+ response[target_muscle]  +'</a>'+
        '<a class="list-group-item"> <b>Equipment Type: </b>'+ response[equipment]  +'</a><br/>');

          myObject[workout] = response[workout];
          myObject[notes] = response[notes];
            for(var j=1;j<=response[setLen];j++){
              var rep = 'rep'+i+j;
              l = j;
              myObject[setLen]=response[setLen];
            console.log(response[rep]);

            var set = 'set'+i+j;
            var type = 'type'+i+j;
            var unit = 'unit'+i+j;
            var rep = 'rep'+i+j;
            var rest = 'rest'+i+j;
            var bk1 = 'bk'+i+j+'1';
            var bk2 = 'bk'+i+j+'2';
            var bk3 = 'bk'+i+j+'3';
            var bk4 = 'bk'+i+j+'4';
            var comm = 'comment'+i+j;
            var difficulty = 'difficulty'+i+j;

            myObject[set] = response[set];
            myObject[unit] = response[unit];
            myObject[type] = response[type];
            myObject[rep] = response[rep];
            myObject[rest] = response[rest];


            if(!myObject[rest]){
              myObject[rest] = 45;
              response[rest] = 45;
            }
            rest_global = myObject[rest];

            $("#workout"+i).append('<div class="list-group">'+
            '<a class="list-group-item custom-grey"> <b>Set: '+ j +' </b></a>'+
            '<a class="list-group-item"> <b>Weight: </b>'+ response[set]  +' '+ response[unit] +' '+ response[type]  +'</a>'+
            '<a class="list-group-item"> <b>Reps: </b>'+ response[rep]  +'</a>'+
            '<a class="list-group-item"> <b>Rest Time: </b>'+ response[rest]  +'&nbsp;<button type="button" class="start">Start Timer !!</button></a>'+
            '<a class="list-group-item"> '+
            '<b>Workout Difficulty:</b> <select class="right" id="'+difficulty+'" required>'+
               '<option value="Very easy"> &#x1F601</option>'+
              ' <option value="Easy">&#x1F642</option>'+
              ' <option value="Perfect"> &#x1F610</option>'+
              ' <option value="Difficult">&#x1F615</option>'+
              ' <option value="Very Difficult">&#x1F622</option>'+
           '</select><br/><br/>'+
            '<b>Feedback/ Weight Used:</b><textarea rows="2" cols="30" id="'+comm+'" required ></textarea></a>'
          );
        }
        $("#workout"+i).append('<button class="btn btn-info"><span class="glyphicon glyphicon-minus"   name="collapse" data-selector="'+i+'">Done</span></button></div>')
        $("#workouts").append('<br/>');
        }

        for(var k=0;k<i;k++){
             $("#expand"+k).show();
             $("#collapse"+k).hide();
             $("#workout"+k).hide();
        }

        $("span[name = 'expand']").click(function(){

           var wkt = $(this).data('selector');

           for(var k=0;k<i;k++){

                $("#expand"+k).show();
                $("#collapse"+k).hide();
                $("#workout"+k).hide();

           }

           $("#expand"+wkt).hide();
           $("#collapse"+wkt).show();
           $("#workout"+wkt).show();

         })
         $("span[name = 'collapse']").click(function(){

            var wkt = $(this).data('selector');

            $("#expand"+wkt).show();
            $("#collapse"+wkt).hide();
            $("#workout"+wkt).hide();

          })

        $("#workouts").append('<button type="submit" id="submit" class="btn btn-danger btn-block" style="height:30px;width:90px"><b>Submit</b></button>');
        function reset_color()
        {
          $("#submit").removeClass("btn-info").addClass("btn-danger");
          $("#submit").removeClass("btn-warning").addClass("btn-danger");
        }
        $( ".start" ).click(function() {
          var counter = rest_global;
             $("#timer_value").val(counter);
             $("#r_timer").dialog();

              var timer = setInterval(function(){
                   console.log(counter);
                   $("#timer_value").val(counter);
                   $("#r_timer").dialog();
                   counter = counter -1;
                   if(counter<=-1){
                     clearInterval(timer);
                     $("r_timer").hide();
                   }
                   return false;
               }, 1000);

        });

        $("#submit").click(function(){
          myObject['date']=date;
          myObject['total_workout'] = response.total_workout;
          for(var i=1;i<=response.total_workout;i++){
            setLen = 'setLen'+i;
            myObject[setLen] = response[setLen];
            for(var j=1;j<=response[setLen];j++){
            var bk1 = 'bk'+i+j+'1';
            var bk2 = 'bk'+i+j+'2';
            var bk3 = 'bk'+i+j+'3';
            var comm = 'comment'+i+j;
            var difficulty = 'difficulty'+i+j;

            myObject[bk1]=$("#bk"+i+j+'1').val();
            myObject[bk2]=$("#bk"+i+j+'2').val();
            myObject[bk3]=$("#bk"+i+j+'3').val();
            myObject[comm]=$("#comment"+i+j).val();
            myObject[difficulty]=$("#difficulty"+i+j).val();
            }
          }


          console.log(JSON.stringify(myObject));
          $.ajax({
            type: "POST",
            url: '/submitFeedback',
            data: myObject,
            dataType: JSON,
            success: function (response){

              if(response.status==200){
                reset_color();
              var property = document.getElementById("submit");

              $("#submit").removeClass("btn-danger").addClass("btn-info");
              }
              else
              {
                var property = document.getElementById("submit");
                $("#submit").removeClass("btn-danger").addClass("btn-warning");

              }
            },
            error: function(response){
              reset_color();
              if(response.status==200){
              var property = document.getElementById("submit");
              $("#submit").removeClass("btn-danger").addClass("btn-info");
              }
              else
              {
                var property = document.getElementById("submit");
                $("#submit").removeClass("btn-danger").addClass("btn-warning");

              }
            }
          });

        });
        },
        error: function () {
            //your error code
        }
    });

  });


 });
 </script>
</body>
</html>
