<!DOCTYPE html>
<html>
<head>

    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

  <style type="text/css">
  #bootstrapSelectForm .selectContainer .form-control-feedback {
      /* Adjust feedback icon position */
      right: -15px;
  }
  </style>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title> Enter Client Workout Routine</title>

    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>

<body>
  <div class="header">
       <center><a href="/"><img src="/images/logo.jpg" style="height:150px;width:150px;"></a></center>
  </div>
  <nav class="navbar navbar-default navbar-static-top" style="margin:0px">
    <div class="container-fluid">
             <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#example-navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
      </div>

       <div class="collapse navbar-collapse navbar-right" id="example-navbar">
        <ul class="nav navbar-nav">
                    <li><a href="/"> <span class="glyphicon glyphicon-home"> </span>  TeamIMFIT </a></li>
          <li><a href="/"> <span class="glyphicon glyphicon-star"> </span>  About Us </a></li>
                    <li><a href="/subscription"> <span class="glyphicon glyphicon-list"> </span>  Subscription </a></li>
                      <li><a href="/logout"> <span class="glyphicon glyphicon-log-out"> </span> Logout </a></li>
  </nav>

  </br>
  <p> Workout Skill Level: </p>
    <select class="form-control" id="skill" name="skill" required>
       <option value="Beginner">Beginner</option>
       <option value="Intermediate">Intermediate</option>
       <option value="Advanced">Advanced</option>
   </select></br>

<p> Primary Muscle: </p>
  <select class="form-control" id="primary" name="primary" required>
     <option value="Quads">Quads</option>
     <option value="Glutes">Glutes</option>
     <option value="Hamstrings">Hamstrings</option>
     <option value="Chest">Chest</option>
     <option value="Lats">Lats</option>
     <option value="Back">Back</option>
     <option value="Traps">Traps</option>
     <option value="Deltoids">Deltoids</option>
     <option value="Core">Core</option>
     <option value="Forearms">Forearms</option>
     <option value="Biceps">Biceps</option>
     <option value="Triceps">Triceps</option>
      <option value="Calves">Calves</option>
      <option value="Core">Core</option>
 </select>
 </br>
  <p> Secondary Muscle: </p>
    <select class="form-control" id="secondary" name="secondary" required>
       <option value="None">None</option>
       <option value="Quads">Quads</option>
       <option value="Glutes">Glutes</option>
       <option value="Hamstrings">Hamstrings</option>
       <option value="Chest">Chest</option>
       <option value="Lats">Lats</option>
       <option value="Back">Back</option>
       <option value="Traps">Traps</option>
       <option value="Deltoids">Deltoids</option>
       <option value="Core">Core</option>
       <option value="Forearms">Forearms</option>
       <option value="Biceps">Biceps</option>
       <option value="Triceps">Triceps</option>
       <option value="Calves">Calves</option>
       <option value="Core">Core</option>
   </select>
   </br>
   <p> Tertiary Muscle: </p>
     <select class="form-control" id="tertiary" name="tertiary" required>
        <option value="None">None</option>
        <option value="Quads">Quads</option>
        <option value="Glutes">Glutes</option>
        <option value="Hamstrings">Hamstrings</option>
        <option value="Chest">Chest</option>
        <option value="Lats">Lats</option>
        <option value="Back">Back</option>
        <option value="Traps">Traps</option>
        <option value="Deltoids">Deltoids</option>
        <option value="Core">Core</option>
        <option value="Forearms">Forearms</option>
        <option value="Biceps">Biceps</option>
        <option value="Triceps">Triceps</option>
        <option value="Calves">Calves</option>
        <option value="Core">Core</option>
    </select>
  </br>
    <p> Quaternary Muscle: </p>
      <select class="form-control" id="quaternary" name="quaternary" required>
         <option value="None">None</option>
         <option value="Quads">Quads</option>
         <option value="Glutes">Glutes</option>
         <option value="Hamstrings">Hamstrings</option>
         <option value="Chest">Chest</option>
         <option value="Lats">Lats</option>
         <option value="Back">Back</option>
         <option value="Traps">Traps</option>
         <option value="Deltoids">Deltoids</option>
         <option value="Core">Core</option>
         <option value="Forearms">Forearms</option>
         <option value="Biceps">Biceps</option>
         <option value="Triceps">Triceps</option>
         <option value="Calves">Calves</option>
         <option value="Core">Core</option>
     </select><br/>

  <button type="submit" id="submit" class="btn btn-danger btn-block" style="height:30px;width:150px">Search Template</button>


  <div class="workouts" id="workouts">
    <body>
    <table border="1" id="myTable">
      <tr>
      <td>ID</td>
      <td>Skill Level</td>
      <td>Primary Muscle</td>
      <td>Secondary Muscle</td>
      <td>Tertiary Muscle</td>
      <td>Quaternary Muscle</td>
      </tr>
      </table>
  </div>

 <script>
 $(document).ready(function(){

   $("#submit").click(function(){
    $("#myTable").find("tr:gt(0)").remove();
   var skill = $('#skill').val();
   var primary = $("#primary").val();
   var secondary = $("#secondary").val();
   var tertiary = $("#tertiary").val();
   var quaternary = $("#quaternary").val();

   $.ajax({
        url: '/loadTemplates',
        type: 'GET',
        success: function (response) {
          $.each(response, function(i, iter) {
            if(iter.skill){
            if(iter.skill == skill && (iter.primary == primary || iter.secondary == secondary)){
            $('#myTable tr:last').after('<tr><td>'+iter.id+'</td><td>'+iter.skill+'</td><td>'+iter.primary+'</td><td>'+iter.secondary+'</td><td>'+
                          +iter.tertiary+'</td><td>'+iter.quaternary+'</td></tr>');
              }
            }
              else{
                if(iter.primary == primary || iter.secondary == secondary){
                $('#myTable tr:last').after('<tr><td>'+iter.id+'</td><td>'+iter.skill+'</td><td>'+iter.primary+'</td><td>'+iter.secondary+'</td><td>'+
                              +iter.tertiary+'</td><td>'+iter.quaternary+'</td></tr>');
                  }
              }

          })
    }
   })
   });

 });
 </script>
</body>
</html>
